---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const { title, description = SITE_DESCRIPTION } = Astro.props;
const pageTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
---

<!doctype html>
<html lang="en" class="overscroll-none scroll-smooth">
  <head>
    <BaseHead title={pageTitle} description={description} />
    <slot name="head" />
    <style is:global>
      @keyframes fadeInDelayed {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    </style>
  </head>
  <body
    class="bg-cyber-bg relative flex min-h-screen flex-col items-center justify-start font-mono text-sm antialiased"
  >
    <div class="flex size-full max-w-2xl flex-col gap-6 px-8">
      <Header />

      <slot />
    </div>

    <!-- {isWIP && ( -->
    <!--   <div class="fixed inset-0 z-50 flex items-center justify-center bg-black/50"> -->
    <!--     <h1 class="text-center text-4xl font-bold text-white"> -->
    <!--       making some changes -->
    <!--       <br /> -->
    <!--       will be back soon -->
    <!--       <br /> -->
    <!--       keyboard navigation is working though -->
    <!--     </h1> -->
    <!--   </div> -->
    <!-- )} -->

    <!-- <Drawer isOpen={false} /> -->

    <!-- <div class="absolute right-0 bottom-0 flex gap-4 p-4"> -->
    <!--   <span> -->
    <!--     <a -->
    <!--       class="hover:underline" -->
    <!--       target="_blank" -->
    <!--       href="https://frixaco-nncl2ucfa-frixaco-personal.vercel.app/" -->
    <!--       aria-label="View version 1 of the website" -->
    <!--     > -->
    <!--       v1 -->
    <!--     </a> -->
    <!--   </span> -->
    <!--   <span> -->
    <!--     <a -->
    <!--       class="hover:underline" -->
    <!--       target="_blank" -->
    <!--       href="https://frixaco-7uw1r14e8-frixaco-personal.vercel.app/" -->
    <!--       aria-label="View version 2 of the website" -->
    <!--     > -->
    <!--       v2 -->
    <!--     </a> -->
    <!--   </span> -->
    <!-- </div> -->
  </body>
</html>
